<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBConnection" value="Integrated Security=true;SERVER=ADMIN-PC; DATABASE=KATO; Connect Timeout=30" />
<!--
    <add key="KikiKouseiExcelPath" value="K:\SUNTSU\機器構成\納入先" />
    <add key="KikiKouseiExcelBackupPath" value="K:\SUNTSU\機器構成\バックアップ" />
    <add key="SyukeiTyohyoWorkPath" value="K:\SUNTSU\集計帳票" />
    <add key="MitumorisyoPath" value="K:\SUNTSU\見積書" />
    <add key="NewProgramsDir" value="k:\SUNTSU\最新exe" />
    <add key="NewProgramsUser" value="" />
    <add key="NewProgramsPass" value="" />
    <add key="IrairenrakuTenpuPath" value="K:\SUNTSU\依頼連絡添付ファイル" />
    <add key="HosyuKeiyakuTenpuPath" value="K:\SUNTSU\保守契約添付ファイル" />
    <add key="HonsyaDai1_JutyuTanto1" value="123" />
    <add key="HonsyaDai1_JutyuTanto2" value="115" />
    <add key="HonsyaDai1_JutyuTanto3" value="114" />
    <add key="HonsyaDai1_JutyuTanto4" value="113" />
    <add key="HonsyaDai1_JutyuTanto5" value="" />
    <add key="HonsyaDai1_JutyuTanto6" value="" />
    <add key="HonsyaDai1_JutyuTanto7" value="" />
    <add key="HonsyaDai1_JutyuTanto8" value="" />
    <add key="HonsyaDai2_JutyuTanto1" value="111" />
    <add key="HonsyaDai2_JutyuTanto2" value="126" />
    <add key="HonsyaDai2_JutyuTanto3" value="127" />
    <add key="HonsyaDai2_JutyuTanto4" value="" />
    <add key="HonsyaDai2_JutyuTanto5" value="" />
    <add key="HonsyaDai2_JutyuTanto6" value="" />
    <add key="HonsyaDai2_JutyuTanto7" value="" />
    <add key="HonsyaDai2_JutyuTanto8" value="" />
    <add key="Mikawa_JutyuTanto1" value="211" />
    <add key="Mikawa_JutyuTanto2" value="212" />
    <add key="Mikawa_JutyuTanto3" value="213" />
    <add key="Mikawa_JutyuTanto4" value="214" />
    <add key="Mikawa_JutyuTanto5" value="215" />
    <add key="Mikawa_JutyuTanto6" value="" />
    <add key="Mikawa_JutyuTanto7" value="" />
    <add key="Mikawa_JutyuTanto8" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
-->
  </appSettings>
<!--
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
-->
</configuration>